<div class="container">
<div class="row" style="height: 600px;">


  <!-- 	/* solapa --------------------------- */-->
          <% i =0 %>
          <% @offers.each do |offer| %>

             <% if i%3 == 0 %>

                <div class="row" style= "width: 980px; height: 320px;">

             <%end%>

              <div class="span4 offer-small">
                <!-- 	/* solapa --------------------------- */-->
                <ul class="flap-items">
                  <li class="img_item">
                    <div class="caption" style=" width: 280px;">
                      <ul class="offer-price-box pull-left">
                        <li class="offer-disccount"><%= "-" + offer.prizes.first.discount_percentage.to_s + "%"%> </li>
                        <li class="offer-price">$<%= offer.prizes.first.discounted_price.to_i unless offer.prizes.first.nil? %></li>
                      </ul>

                    <!-- End of .flap-items -->
                <!-- 	/* solapa --------------------------- */-->
                        <ul class="secondary-info pull-right">
                          <li>
                            <h3> <%= offer.clients.count %> </h3><p>Usuarios Inscriptos</p>
                          </li>
                        </ul>
                    </div>

                    <% unless offer.photo.nil? %>
                        <img class="small-photo" src="<%= offer.photo %>" alt="" style="width:300px; height: 250px"/>
                    <%end%>
                  </li>
                </ul>


                <div class="row">
                  <div class="span4" style="position:relative;">
                    <img src="../assets/arrow-opentab.jpg" class="button-arrow">
                    <div class="wrapper-padding">
                      <ul class="inline hotel-item clearfix">
                        <li class="pull-left">
                          <h4 class="media-heading"><a href="#offer_<%=offer.id%>" data-toggle="modal"><%=offer.name%></a></h4>
                          <% unless offer.branch.nil? %>
                              <h5> <%=offer.branch.name%> </h5>
                          <%end%>
                        </li>
                        <li class="pull-right">
                          <a href="#offer_<%=offer.id%>" data-toggle="modal"><button type="button" class="btn btn-dealhunter medium full-width" id="btn-inscribite">Ver Oferta</button></a>
                        </li>
                      </ul>
                    </div><!--end wrapper-padding-->
                  </div><!--end span4-->
                </div><!--end row-->
              </div><!--end span4-->



               <% i += 1 %>
              <% if i%3 == 0 %>

                  </div>

              <%end%>

       <% end %>



  </div>

</div><!--end row-->
</div><!--end container-->


<% @offers.each do |offer| %>

    <div id="offer_<%=offer.id%>" class="modal modal-window hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="label"><%= offer.name %> </h3>
      </div>
      <div class="modal-body">
        <div class="media hotel-item">
          <a class="pull-right" href="#">
            <% unless offer.photo.nil? %>
                <img src="<%= offer.photo%>" class="media-object imgCenter">
            <%end%>
          </a>
          <div class="media-body">
            <p>
              <b>Fecha de inicio:</b>
              <%= offer.start_date %>
            </p>
            <p>
              <b>Fecha de finalización:</b>
              <%= offer.end_date %>
            </p>
          </div><!--end media-body-->
          <hr>
          <p>
            <b>Clientes adheridos: </b>
            <%= offer.clients.count %>
          </p>


          </hr>

          <hr>
          <p class="row">
          <div class="span3">  <b>Premio: </b>
            <ul class="text-left">
              <% i=1 %>
              <% offer.prizes.each do |prize| %>
                  <li type="disc"><%= i %>) <%= prize.name %> - <%= prize.real_price %>(<%= prize.discount_percentage %>).</li>
                  <% i+=1 %>
              <%end%>

            </ul>


          </div>
          <div class="span3"> <b>Sucursal: </b>
            <ul class="text-left">
              <li type="disc"> <%= offer.branch.name unless offer.branch.nil?%></li>


            </ul>
          </div>
          </p>
          </hr>

          </hr>

        </div>

      </div>
    </div>

<%end%>



