<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">


  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>

  <script type='text/javascript'>//<![CDATA[
  var m_timer = null;


  </script>
</head>
<body>
<div class="wrapper-padding">

  <div class="wrapper">
    <article>


      <div id="myTabContent" class="tab-content">

        <div class=" clearfix" id="titles">

          <h3>
          Intereses por clientes </h3>
          <div id="titlesChart" style="height: 310px;"></div>
          <div style="margin: 10px 0;">
          <h3>Intereses por oferta</h3>
          <div id="titlesOfferChart" style="height: 310px;"></div>
          </div>
        </div>
        <!--end myTabContent-->

        <div class=" clearfix" style="margin: 20px 0" id="registrations">

          <h3>Clientes registrados por mes</h3>
          <div id="clientsChart" style="height: 310px;"></div>

          <div style="margin: 10px 0;">

          <h3>Empresas registradas por mes</h3>
          <div id="companyChart" style="height: 310px;"></div>
</div>
        </div>
        <!--end myTabContent-->

        <div class=" clearfix" style="margin: 20px 0" id="publish">
          <h3>
          Ofertas publicadas por mes</h3>
          <div id="offerChart" style="height: 310px;"></div>

        </div>
        <!--end myTabContent-->

      </div>


    </article>

  </div>
  <!--end wrapper-->
</div>


</body>
</html>
<script>

    new Morris.Donut({
        element: 'titlesChart',
        data: [
            <% Title.all.each do |t| %>
            {label: "<%=t.name%>", value: <%= t.num_clients %>},
            <% end %>
        ],
        colors: [
            '#FF0000',
            '#FF8000',
            '#FFFF00',
            '#80FF00',
            '#006600',
            '#00FF80',
            '#00CCCC',
            '#0000FF',
            '#000066',
            '#4C0099',
            '#FF00FF',
            '#FF99CC'
        ]
    });

    new Morris.Donut({
        element: 'titlesOfferChart',
        data: [
            <% Title.all.each do |t| %>
            {label: "<%=t.name%>", value: <%= t.num_offers %>},
            <% end %>
        ],
        colors: [
            '#FF0000',
            '#FF8000',
            '#FFFF00',
            '#80FF00',
            '#006600',
            '#00FF80',
            '#00CCCC',
            '#0000FF',
            '#000066',
            '#4C0099',
            '#FF00FF',
            '#FF99CC'
        ]
    });

    new Morris.Bar({
        element: 'clientsChart',
        data: [
            <% Statistics.client_registrations.each do |a| %>
            { y: '<%= a[0] %>', a: <%= a[1] %> },
            <% end %>
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Clientes Registrados'],
        colors: [
            '#0000FF'
        ]
    });

    new Morris.Bar({
        element: 'companyChart',
        data: [
            <% Statistics.company_registrations.each do |a| %>
            { y: '<%= a[0] %>', a: <%= a[1] %> },
            <% end %>
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Empresas Registradas']
    });

    new Morris.Bar({
        element: 'offerChart',
        data: [
            <% Statistics.offers_per_month.each do |a| %>
            { y: '<%= a[0] %>', a: <%= a[1] %> },
            <% end %>
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Ofertas publicadas']
    });


</script>