<div class="container" id="main-content">
  <div class="row">
    <section class="span8">
      <header class="out rounded-borders-btn">
        <h2>Preferencias</h2>
      </header>



        <div class="wrapper">
          <article class="row">
              <div class="span2">
                <div class="wrapper-padding">

                  <div>
                    <img class="title-image" src="../assets/indumentaria-femenina.jpg" alt=""/>
                    <div>
                      <input type="checkbox"> Indumentaria Fem </input>
                    </div>
                  </div>
                  <br>

                  <div>
                    <img class="title-image" src="../assets/indumentaria-masculina.jpg" alt=""/>
                    <div>
                      <input type="checkbox"> Indumentaria Masc </input>
                    </div>
                  </div>
                  <br>

                  <div>
                    <img class="title-image" src="../assets/bebes.jpg" alt=""/>
                    <div>
                      <input type="checkbox"> Ni침os </input>
                    </div>
                  </div>
                  <br>

                </div>
              </div>

            <div class="span2">
              <div class="wrapper-padding">

                <div>
                  <img class="title-image" src="../assets/gastronomia.jpg" alt=""/>
                  <div>
                    <input type="checkbox"> Gastronomia </input>
                  </div>
                </div>
                <br>

                  <div>
                    <img class="title-image" src="../assets/belleza.jpg" alt=""/>
                    <div>
                      <input type="checkbox"> Belleza </input>
                    </div>
                  </div>
                  <br>

                  <div>
                    <img class="title-image" src="../assets/cine.jpg" alt=""/>
                    <div>
                      <input type="checkbox"> Cine </input>
                    </div>
                  </div>
                  <br>

            </div>
            </div>


            <div class="span2">
              <div class="wrapper-padding">
                <div>
                  <img class="title-image" src="../assets/teatro.jpg" alt=""/>
                  <div>
                    <input type="checkbox"> Teatro </input>
                  </div>
                </div>
                <br>

                <div>
                  <img class="title-image" src="../assets/electronicos.jpg" alt=""/>
                  <div>
                    <input type="checkbox"> Electronicos </input>
                  </div>
                </div>
                <br>

                <div>
                  <img class="title-image" src="../assets/estudio.jpg" alt=""/>
                  <div>
                    <input type="checkbox"> Estudio </input>
                  </div>
                </div>
                <br>

              </div>
            </div>

            <div class="span2">
              <div class="wrapper-padding">
                <div>
                  <img class="title-image" src="../assets/deporte.jpg" alt=""/>
                  <div>
                    <input type="checkbox"> Deporte </input>
                  </div>
                </div>
                <br>

                <div>
                  <img class="title-image" src="../assets/hogar.jpg" alt=""/>
                  <div>
                    <input type="checkbox"> Hogar </input>
                  </div>
                </div>
                <br>

                <div>
                  <img class="title-image" src="../assets/viajes.jpg" alt=""/>
                  <div>
                    <input type="checkbox"> Viaje </input>
                  </div>
                </div>
                <br>

              </div>
            </div>

          </article>

          <% if !session[:flash].nil? %>
              <% if !session[:flash][:notice].nil? %>
                  <div class="alert" id="login-alert">
                    <%= session[:flash][:notice] %>
                  </div>
              <% end %>
          <% end %>

          <div class="wrapper-padding">
            <hr>
            <div class="text-center">
              <button type="submit" class="btn btn-vontrip rounded-borders-btn">Grabar Informaci칩n</button>
            </div>
          </div><!--end wrapper-padding-->
        </div>

    </section>
    <!--end main content-->

    <!--sidebar-->
    <aside class="span4" style="...">

      <div class="wrapper-padding rounded-borders light-shadowed" style="background: #ffffff;">

        <h2 class="rounded-borders-btn">Detalle de Cuenta</h2>
        <ul class="aside-nav">
          <li><a href="<%= users_offers_client_user_path %>" class="active">Mis Ofertas</a></li>
          <li><a href="<%= titles_path %>">Preferencias</a></li>
        </ul>
        <h2 class="rounded-borders-btn">Informaci칩n Personal</h2>
        <ul class="aside-nav">
          <li><a href="<%= edit_user_path(current_user)%>">Mi Perfil</a></li>
        </ul>
        <h2 class="rounded-borders-btn">Preferencias</h2>
        <ul class="aside-nav">
          <li><a href="<%= edit_user_registration_path %>">Contrase침a</a></li>        </ul>
        </ul>
      </div>
    </aside><!--end sidebar-->
  </div><!--end container-->
</div><!--end row-->




























