<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DealHunter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= favicon_link_tag %>

  <!-- Le styles -->

  <%= stylesheet_link_tag 'bootstrap.css' %>
  <%= stylesheet_link_tag 'vontrip.css' %>
  <%= stylesheet_link_tag 'formtastic.css' %>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

  <script src="/../assets/bootstrap-dropdown.js"></script>
  <script src="/../assets/bootstrap-tab.js"></script>
  <script src="/../assets/bootstrap-modal.js"></script>


  <!--    <link href="/assets/bootstrap-responsive.css" rel="stylesheet">
  -->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="/assets/html5shiv.js"></script>
  <![endif]-->

  <!--[if gte IE 9]>
  <link rel="stylesheet" type="text/css" href="/../assets/ie9.css" />
  <![endif]-->


  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39073159-1']);
      _gaq.push(['_setDomainName', 'vontrip.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
</head>

<% if user_signed_in? %>

    <% if session[:body].nil? %>
        <body id="landing">
    <% else %>
        <body id="<%= session[:body]%>">
    <% end %>

    <!--header-->
    <header id="top">
      <div class="container">
        <div class="row">
          <div class="span3" id="logo-header"><a href="<%= offers_path %>"><img src="/assets/logo-header.png"></a></div>

          <div class="span6 offset3 clearfix" id="header-data">
            <nav class="pull-left">
              <ul>
                <li class="user-message">Bienvenido <span><%= current_user.email%></span></li>
                <li>
                  <div class="btn-group">
                    <a class="btn btn-vontrip-grey dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-user icon-white"></i> Mi Cuenta
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="#">Mis Ofertas</a></li>
                      <li><a href="<%= edit_user_path(current_user)%>">Mi Perfil</a></li>
                      <li><a href="#">Preferencias</a></li>
                      <li><a href="#">Ayuda</a></li>
                      <li class="divider"></li>
                      <li><%= link_to "Salir", destroy_user_session_path, :method => :delete %></li>
                    </ul>
                  </div><!--end btn-group-->
                </li>
              </ul>
            </nav>

          </div><!--end span6 offset3-->
        </div><!--end row-->
      </div><!--end container header-->
    </header><!--end header-->

    <%= yield %>
    <!--footer-->
    <footer id="footer-wrapper">
      <div class="container" >
        <div class="row" id="footer-top">
          <div class="span6 hidden-phone"><img id="footer-top-img" src="/assets/logo-footer.png"></div>
          <div class="span6">
            <ul id="custumer-support" class="pull-right">
              <li class="custumer-support-title">Atención al Cliente</li>
              <li class="telephone-number">0800-111-DEAL(3325)</li>
              <li class="contact-mail"><a href="#"><i class="icon-contact-mail"></i> info@dealhunter.com</a></li>
            </ul>
          </div>
        </div>

        <hr>

        <div id="footer-middle" class="row">
          <div class="span7">
            <nav>
              <ul class="inline">
                <li><a href="#">Quiénes Somos</a></li>
                <li><a href="#">Trabajá con Nosotros</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Contacto</a></li>
              </ul>
            </nav>
            <p class="copyright">Copyright © 2013 DealHunter.com. Todos los derechos reservados</p>
          </div>

          <div class="span5">
            <ul class="inline pull-right social">
              <li><a href="#" target="_blank"><img src="/assets/icon-fb.png"></a></li>
              <li><a href="https://twitter.com/VonTripArg" target="_blank"><img src="/assets/icon-twitter.png"></a></li>
              <li><a href="#" target="_blank"><img src="/assets/icon-gPlus.png"></a></li>

            </ul>
          </div>
        </div>

      </div>
    </footer><!--end footer-->



<% else %>

    <%= yield %>

<% end %>

